<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>patientPage</servlet-name>
    <servlet-class>ua.sazonova.hospital.controller.PatientController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>patientPage</servlet-name>
    <url-pattern>/patient</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>doctorPage</servlet-name>
    <servlet-class>ua.sazonova.hospital.controller.DoctorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doctorPage</servlet-name>
    <url-pattern>/doctor</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>doctorShowPatientsPage</servlet-name>
    <servlet-class>ua.sazonova.hospital.controller.DoctorShowPatients</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doctorShowPatientsPage</servlet-name>
    <url-pattern>/patients</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>doctorShowOnePatientPage</servlet-name>
    <servlet-class>ua.sazonova.hospital.controller.DoctorOnePatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doctorShowOnePatientPage</servlet-name>
    <url-pattern>/doc-patient</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminPage</servlet-name>
    <servlet-class>ua.sazonova.hospital.controller.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPage</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminPatientsPage</servlet-name>
    <servlet-class>ua.sazonova.hospital.controller.AdminAllPatients</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPatientsPage</servlet-name>
    <url-pattern>/admin-patients</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AdminDoctorsPage</servlet-name>
    <servlet-class>ua.sazonova.hospital.controller.AdminAllDoctors</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDoctorsPage</servlet-name>
    <url-pattern>/admin-doctors</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>loginPage</servlet-name>
    <servlet-class>ua.sazonova.hospital.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginPage</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

</web-app>
